# Environment Variables
# Email Configuration
NEXT_PUBLIC_CONTACT_EMAIL=tu-correo@gmail.com

# WhatsApp Configuration
NEXT_PUBLIC_WHATSAPP_API_KEY=tu_api_key_whatsapp
NEXT_PUBLIC_WHATSAPP_PHONE_NUMBER=+51XXXXXXXXX

# API Base URL (si usas backend)
NEXT_PUBLIC_API_URL=http://localhost:3000/api
